@import '../../variables.scss';

.header-top {
    background-color: $color-primary-dark-light;
    height: 3.5rem;

    // Icons bar
    &__icons-bar{
        grid-column: 1 / 3;
        grid-row: 1 / 1;
        padding: 5px 0;
        
        @media only screen and (max-width: $bp-small) {
            grid-column: 1 / 5;
        }
    }

    &__icon-btn {
        border: none;
        border-radius: 50%;
        margin-left: 5px;
        font-size: 1.3rem;
        width: 2.3rem;
        height: 2.3rem;
        cursor: pointer;
    }

    &__icon-btn:first-child {
        background-color: #3a69ae;
    }

    &__icon-btn:nth-child(2) {
        background-color: #e14a74;
    }

    &__icon-btn:nth-child(3) {
        background-color: #36bbe2;
    }

    &__icon-btn:last-child {
        background-color: #14beee;
    }


    &__icon-btn:not(:nth-child(4)) {
        color: $color-primary-white;
    }

    // User tools
    &__user-tools {
        grid-column: 8 / 11;
        grid-row: 1 / 1;
        align-self: center;
        justify-self: end;
        display: flex;

        @media only screen and (max-width: $bp-small) {
            grid-column: 5 / 11;
        }
    }
  
}