@import '../../variables.scss';

.welcome {
    position: relative;
    padding: 7.5rem 0 6.2rem 0;

    &__content {
        grid-column: 1 / -1;
        grid-row: 1 / 1;
    }

    &__heading {
        text-align: center;
        margin-bottom: 6rem;

        & span {
            background-color: $color-secondary;
            color: $color-primary-white;
            padding: 0 5px;
        }
    }

    &__proposals {
        display: flex;
        justify-content: space-between;

        @media only screen and (max-width: $bp-medium) {
            flex-direction: column;
            align-items: center;
        }
        
    }

    &__proposal {
        background-color: $color-primary-dark;
        color: $color-primary-white;
        padding: 1.4rem 2.3rem 1.4rem 1.6rem;
        border-radius: 5px;
        cursor: pointer;

        @media only screen and (max-width: $bp-medium) {
            width: 50%;
            margin-bottom: 1rem;
        }

        @media only screen and (max-width: $bp-small) {
            width: 100%;
        }

        &--colored {
            background-color: $color-secondary;
        }
    }

    &__proposal-heading {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;

        & h3 {
            margin-left: 1.5rem;
        }
    }
}
