@import '../../variables.scss';

.products__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(23rem, 1fr)); /* see notes below */
    grid-gap: 1.3rem;
    margin-top: 2rem;
}