// FONT VARIABLES
$font-primary: 'Arial', sans-serif;
$font-secondary: 'Oswald', sans-serif;
$font-modal: 'HelveticaNeue', sans-serif;

// COLOR VARIABLES
$color-primary-white: #ffffff;
$color-primary-darkest: #000;
$color-primary-dark: #1e1e20;
$color-primary-dark-light: #2a2b2c;
$color-secondary: #cc3333;
$color-tertiary: #575757;

// RESPONSIVE BREAKPOINTS
$bp-large: 61.88em; //990px
$bp-medium: 50.0em; //800px
$bp-small: 37.5em; //600px